.todobox {
  display: flex;
  align-items: center;
  bordercolor: gray;
  borderstyle: solid;
  width: 500px;
}

.workingbox {
  border-color: green;
  border-style: solid;
  width: 300px;
  border-radius: 10px;
  float: left;
  margin: 10px;
}
